body{
    height: 100vh;
    background-color: #003563;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.weather-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: 3px solid #FFC107;
    border-radius: 20px;
    width: 550px;

    margin: 10px;
    padding: 20px;

    background-color: #FFC107;
}

.weather-button > button{
    margin: 10px;
}

.map{
    border: 3px solid #FFC107;
    border-radius: 20px;

    width: 550px;
    height: 550px;
}